* {
    margin: 0;
    padding: 0;

   
}

html, body{
    height: 100%;
    
    background: linear-gradient(135deg, #5A4E48 0%, #8C756A 50%, #C6B8B1 100%);;

    
}
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
   
}

